{% load wagtailcore_tags wagtailimages_tags jkwtags %}
{% generate_random_id "swiper" as swiper_id %}
<div class="container-fluid px-0">
  <div class="swiper" id="{{ swiper_id }}">
    <div class="swiper-wrapper">
      {% for flyer in flyers %}
        <div class="swiper-slide flyer-slide">
          <a href="{{flyer.get_url}}">
            {% picture flyer.image format-{avif,webp,png} fill-500x500-c100 %}
            <div class="overlay d-flex flex-column">
              <h1>{{flyer.title}}</h1>
              {% if flyer.subtitle %}<h2>{{flyer.subtitle}}</h2>{% endif %}
              {% if flyer.description %}<p>{{flyer.description|richtext}}</p>{% endif %}
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="swiper-pagination" id="{{ swiper_id }}_pagination">x</div>
  </div>
</div>
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", ()=>{
    const swiper_{{swiper_id}} = new Swiper('#{{swiper_id}}', {
      speed:600, 
      loop:true,
      autoplay: { delay:5000, disableOnInteraction:false },
      pagination: {el:'#{{swiper_id}}_pagination', type:'bullets',clickable:true},
      slidesPerView:'auto'
    });
  });
</script>
