@font-face {
  font-family: Inter;
  src:
    url("/static/fonts/Inter/Inter-100.woff") format("woff"),
    url("fonts/Inter/Inter-100.woff2") format("woff2");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: Inter;
  src:
    url("/static/fonts/Inter/Inter-200.woff") format("woff"),
    url("/static/fonts/Inter/Inter-200.woff2") format("woff2");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: Inter;
  src:
    url("/static/fonts/Inter/Inter-300.woff") format("woff"),
    url("/static/fonts/Inter/Inter-300.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: Inter;
  src:
    url("/static/fonts/Inter/Inter-400.woff") format("woff"),
    url("/static/fonts/Inter/Inter-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Inter;
  src:
    url("/static/fonts/Inter/Inter-500.woff") format("woff"),
    url("/static/fonts/Inter/Inter-500.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: Inter;
  src:
    url("/static/fonts/Inter/Inter-600.woff") format("woff"),
    url("/static/fonts/Inter/Inter-600.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: Inter;
  src:
    url("/static/fonts/Inter/Inter-700.woff") format("woff"),
    url("/static/fonts/Inter/Inter-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: Inter;
  src:
    url("/static/fonts/Inter/Inter-800.woff") format("woff"),
    url("/static/fonts/Inter/Inter-800.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: Inter;
  src:
    url("/static/fonts/Inter/Inter-900.woff") format("woff"),
    url("/static/fonts/Inter/Inter-900.woff2") format("woff2");
  font-style: normal;
  font-weight: 900;
}

/* Canter */

@font-face {
  font-family: Canter;
  src:
    url("/static/fonts/Canter/Canter\ Bold.woff") format("woff"),
    url("/static/fonts/Canter/Canter\ Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

$font-family-sans-serif:
  "Inter",
  -apple-system,
  system-ui,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  Arial,
  sans-serif !default;
$font-family-serif: Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:
  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

@import "bootstrap-icons";
