// Everything related to themes

.tile-block {
  &.theme-default {
    background: $color-primary;
    color: $color-white;
  }

  &.theme-green {
    background: rgba(19, 110, 11, 0.8);
    color: $color-white;
  }
}

.column {
  &.theme-transparent {
    background-color: rgba(0, 0, 0, 0);
    color: #000;
  }
  &.theme-white {
    background-color: #fff;
    color: #000;
  }
}
