{% extends "base.html" %}
{% comment %}

General base page, master for all sub pages!

{% endcomment %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_header %}
{% image settings.home.ContactSettings.logo_image format-ico as favicon %}
<link rel="icon" type="image/x-icon" href="{{favicon.url}}"/>
{% endblock %}

{% block extra_css %}
  <link href="{% static 'css/aos.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block header %}{% include "home/includes/header.html" %}{% endblock %}

{% block footer %}
  {% include "home/includes/footer.html" %}
{% endblock %}
{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/swiper-bundle.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/aos.js' %}"></script>
  {% for js in page.extra_js %}{{js}}{% endfor %}
  {% if page.extra_js_on_dom_ready %}
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', ()=>{
        {% for js in page.extra_js_on_dom_ready %}
          {{ js|safe }}
        {% endfor %}
      });
    </script>
  {% endif %}
{% endblock %}
